body {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.brand { 

    img {
        height: 25px;
    }
    
}

#wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
}

