#searchForm {
    
    position: relative;
    top: 4px;
    
    input {
        width: 400px;
    }
    
    .btn-primary {
        background-color: #009ADE;
        background-image: none;
        padding: 5px 22px;
    }

    .btn-primary span {
    	display: inline-block;
    	height: 16px;
    	width: 16px;
    	background-image: url('http://localhost:8000/img/mglass.png');

    }
    
}