
.map {
    width:  250px;
    height: 250px;
    text-align: center;
}

.map img {
    display: block;
    margin: auto;
    width:  200px;
    height: 200px;
    background-color: #999;
    border: 1px solid #eee;
}

.gallery {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: #777;
}

.link {
    padding: 2px;
    cursor: pointer;
    font-family: Arial;
    color: #74b2e2;
}
