
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #777;
}

#logo {
    height: 30px;
    margin-top: 2px;
    margin-left: 23px;
}

#gallery, #add { 
    float: right;
    color: blue;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}