
#summaryForm {
    width: 100%;
    margin-bottom: 50px;
}

#summaryForm input {
    width: 337px;
    
    border: 1px solid #cdcdcd;
    font-size: 16px;
    padding: 5px;
}

#summaryForm div {
    float: left;
}

#summaryForm input[type=submit] {
    height: 30px;
    width: 100px;
    
    margin: 0 0 5px 10px;
    
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    
    background: #71c621;
    
    -moz-border-radius: 5px;
    -moz-border-top-colors: #333;
    -moz-border-right-colors: #333;
    -moz-border-bottom-colors: #333;
    -moz-border-left-colors: #333;
    border-width: 1px;
    
    cursor: pointer;
}