
<div class="vcard">
    
    <% if (loc.name) { %><div class="name org line1"><%= loc.name %></div><% } %>
    
    <% if (adr = loc.adr || loc.address) { %>
        <div class="adr <% if (loc.name) { %>line2<% } else { %>line1<% } %>">
            
            <% if (adr.street) { %><span class="street line2"><%= adr.street %></span><br /><% } %>
            
            <% if (adr.locality) { %><span class="locality"><%= adr.locality %></span><span class="separator">, </span><% } %>
            
            <% if (adr.region) { %><span class="region"><%= adr.region %></span><% } %>
                
            <% if (adr.postalCode) { %><span class="postal-code"><%= adr.postalCode %></span><% } %>
            
            <% if (adr.country) { %><span class="country-name"><%= adr.country %></span><% } %>
            
            <% if (adr.latLng && adr.latLng.lat && adr.latLng.lng) { %>
            <div class="lat-lng">
                <span class="latitude" ><%= adr.latLng.lat %></span>, 
                <span class="longitude"><%= adr.latLng.lng %></span>
            </div>
            <% } %>
            
        </div>
    <% } %>
    
</div>